---
# Let's add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax"
;

.logo{
	display: block;
	border-radius: 50%;
}

.main-header-content.inner{
	text-shadow: 8px 8px 8px black;

	.page-title {
		font-size: 6rem;
	}

	.page-description{
	
		a {
			color: white;
			&:hover {
				color: #111;
			}
		}
	}

}




